HELP.md
.DS_Store
TDD_Book_Practice/.DS_Store
TDD_Book_Practice/.gradle
TDD_Book_Practice/build/
TDD_Book_Practice/src/.DS_Store
TDD_Book_Practice/src/main/.DS_Store
TDD_Book_Practice/src/test/.DS_Store

TDD_Book_Practice/.gradle
TDD_Book_Practice/.idea
.gradle
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/